@charset "utf-8";

/* CSS Document*/
body {
    background-color: #121212;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    font-family: 'Roboto', Verdana, Arial, sans-serif;
}

/* THUMBNAIL GENRE */
.thumbnail-genre {
    position: relative;
    padding: 150px;
    display: flex;
    flex-direction: column;
}

.thumbnail-genre2nd {
    position: relative;
    padding: 150px;
    display: flex;
    flex-direction: column;
}

/* albums */

/* albums */


/* singles and eps */
.revenge-of-a-loser {
    background: linear-gradient(rgba(31, 31, 33, 0.082), rgba(31, 31, 33, 0.886)), url('https://yzdmusic.github.io/cover-2/REVENGE\ OF\ A\ LOSER\ \(COVER\).jpg');
    background-size: cover;
}

/* singles and eps */

.thumbnail-genre h1 {
    font-size: 2.3rem;
    font-weight: bolder;
    position: absolute;
    color: white;
    left: 10px;
    bottom: 45px;
    width: 250px;
}

.thumbnail-genre h2 {
    position: absolute;
    left: 40px;
    bottom: 30px;
    color: white;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;

    /* EFEK BUG WARNA BIRU */
    outline: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    touch-action: manipulation;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.thumbnail-genre img {
    width: 47px;
    height: 47px;
    position: absolute;
    left: 10px;
    top: 10px;
    filter: brightness(80%);

    /* EFEK BUG WARNA BIRU */
    outline: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    touch-action: manipulation;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.thumbnail-genre p {
    font-size: 12px;
    font-weight: normal;
    position: absolute;
    color: #c2c2c2;
    left: 10px;
    bottom: -3px;
}

.thumbnail-genre .photo-profile {
    border-radius: 50%;
    width: 27px;
    height: 27px;
    position: absolute;
    left: 10px;
    top: 238px;

    /* EFEK BUG WARNA BIRU */
    outline: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    touch-action: manipulation;
    -webkit-user-select: none;
    -ms-user-select: none;
}




.thumbnail-genre2nd h1 {
    font-size: 2.3rem;
    font-weight: bold;
    position: absolute;
    color: white;
    left: 10px;
    bottom: 10px;
    width: 250px;
}

.thumbnail-genre2nd h2 {
    position: absolute;
    left: 40px;
    bottom: 30px;
    color: white;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;

    /* EFEK BUG WARNA BIRU */
    outline: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    touch-action: manipulation;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.thumbnail-genre2nd img {
    width: 47px;
    height: 47px;
    position: absolute;
    left: 10px;
    top: 10px;
    filter: brightness(80%);

    /* EFEK BUG WARNA BIRU */
    outline: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    touch-action: manipulation;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.thumbnail-genre2nd p {
    font-size: 12px;
    font-weight: normal;
    position: absolute;
    color: #c2c2c2;
    left: 10px;
    bottom: -3px;
}

.thumbnail-genre2nd .photo-profile {
    border-radius: 50%;
    width: 27px;
    height: 27px;
    position: absolute;
    left: 10px;
    top: 238px;

    /* EFEK BUG WARNA BIRU */
    outline: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    touch-action: manipulation;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* THUMBNAIL GENRE */

/* HOME CONTENT */
.home-content {
    padding-bottom: 180px;
}

.song-card {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;

    /* EFEK BUG WARNA BIRU */
    outline: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    touch-action: manipulation;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.song-card:hover {
    background-color: #1e2d2f;
}

.song-card:active {
    background-color: green;
}

.card-title {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.song-card h1 {
    color: white;
    font-size: 13px;
    margin-left: 10px;
    width: 220px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.song-card p {
    color: #c2c2c2;
    font-size: 12px;
    margin-top: -5px;
    margin-left: 10px;
}

.song-card span {
    content: url(https://yzdmusic.github.io/id/assets/more.png);
    width: 23px;
    height: 23px;
    right: 0;
    position: absolute;

    /* EFEK BUG WARNA BIRU */
    outline: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    touch-action: manipulation;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* HOME CONTENT */

/* SHERE LINK */
.song-card>span {
    cursor: pointer;
    padding: 0 8px;
    font-weight: bold;
    user-select: none;
}

span:hover {
    filter: brightness(50%);
}

/* Tambahkan ke file CSS kamu */
.bottom-sheet {
    position: fixed;
    left: 0;
    right: 0;
    bottom: -100%;
    background-color: #1a1a1a;
    color: white;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.6);
    padding: 16px;
    transition: bottom 0.3s ease;
    z-index: 100;
}

.bottom-sheet.active {
    bottom: 0;
}

.bottom-sheet .handle {
    width: 45px;
    height: 5px;
    background: #666;
    border-radius: 2px;
    margin: 0 auto 15px;
}

.bottom-sheet .option {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;
    cursor: pointer;
    border-bottom: 1px solid #222;
}

.bottom-sheet .option:last-child {
    border-bottom: none;
}

.bottom-sheet .option img {
    width: 24px;
    height: 24px;
}

.option:hover {
    background-color: #1e2d2f;
}

/* SHERE LINK */

/* MUSIC PLAYER UI */
.music-player-ui {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #1e2d2f;
    color: white;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    z-index: 100;
    transform: translateY(100%);
    transition: transform 0.3s ease;
}

.music-player-ui.active {
    transform: translateY(0);
}

.music-player-ui::-webkit-scrollbar {
    display: none;
}

.music-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: -5px;
    margin-bottom: 40px;
}

.title-music-player {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.album {
    font-size: 12px;
    font-weight: 700;
}

.album-cover-large {
    width: 100%;
    margin: 20px 0;
    border-radius: 10px;
}

.song-info-large {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 25px;
    width: 100%;
}

.song-info-large h2 {
    font-size: 14px;
}

.song-info-large p {
    font-size: 13px;
    margin-top: -10px;
}

.progress-bar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 10px 0;
}

.timeandduration-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 3px;
}

.timeandduration-container span:hover {
    filter: brightness(100%);
}

.progress-bar-container span {
    font-size: 12px;
    text-align: center;
    color: #a9a5a5;
}

.progress-bar-container input[type="range"] {
    flex: 1;
    width: 100%;
}

.controls-large {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;

    /* EFEK BUG WARNA BIRU */
    outline: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    touch-action: manipulation;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.back-btn,
.more-options {
    width: 25px;
    height: 25px;
    cursor: pointer;
    background: none;
    border: none;
    transition: transform 0.2s ease;
}

.control-btn-large:hover,
.back-btn:hover {
    filter: brightness(80%);
}

#playPauseLarge {
    width: 60px;
    height: 60px;
}

#shuffleLarge,
#nextLarge,
#prevLarge,
#repeatLarge {
    width: 25px;
    height: 25px;
    margin: auto 0;
}

.credits-container {
    background-color: #1e2d2f;
    margin-top: 70px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 70px;
}

.credits {
    margin: 10px;
}

.card-title-credits {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 10px;
}

.card-title-credits a {
    text-decoration: none;
}

.credits-container h1 {
    color: white;
    font-size: 13px;
    font-weight: normal;

    /* EFEK BUG WARNA BIRU */
    outline: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    touch-action: manipulation;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.credits-container p {
    color: #c2c2c2;
    font-size: 12px;
    margin-top: -5px;
    cursor: default;
}

/* Mengatur tinggi dan warna slider */
input[type="range"] {
    -webkit-appearance: none;
    /* Hilangkan style default browser */
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    /* Sesuaikan lebar */
    height: 6px;
    /* Atur tinggi slider */
    background: none;
    /* Warna background track slider */
    border-radius: 5px;
    /* Rounded edges */
    outline: none;
    /* Hilangkan border focus */
    cursor: pointer;
}

/* Warna thumb slider untuk Chrome, Safari, dan Edge */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Hilangkan style default browser */
    appearance: none;
    width: 6px;
    /* Lebar thumb */
    height: 6px;
    /* Tinggi thumb */
    background: white;
    /* Warna thumb */
    border-radius: 50%;
    /* Rounded thumb */
    cursor: pointer;
}

/* Jalur aktif untuk Chrome, Safari, dan Edge */
input[type="range"]::-webkit-slider-runnable-track {
    background: #302f2f;
    /* Warna jalur aktif */
    height: 6px;
    /* Atur tinggi track */
    border-radius: 5px;
}

/* Warna thumb slider untuk Firefox */
input[type="range"]::-moz-range-thumb {
    width: 6px;
    height: 6px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}

/* Jalur untuk Firefox */
input[type="range"]::-moz-range-track {
    background: #302f2f;
    height: 6px;
    /* Atur tinggi track */
    border-radius: 5px;
}

/* Jalur aktif untuk Firefox */
input[type="range"]::-moz-range-progress {
    background: white;
    /* Warna jalur aktif */
    height: 6px;
    /* Atur tinggi track */
    border-radius: 5px;
}

/* Warna thumb slider untuk Internet Explorer */
input[type="range"]::-ms-thumb {
    width: 6px;
    height: 6px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}

/* Jalur untuk Internet Explorer */
input[type="range"]::-ms-track {
    background: transparent;
    /* Hapus style default */
    border-color: transparent;
    color: transparent;
    height: 6px;
}

/* Jalur aktif untuk Internet Explorer */
input[type="range"]::-ms-fill-lower {
    background: #302f2f;
    /* Warna jalur aktif */
    border-radius: 5px;
}

input[type="range"]::-ms-fill-upper {
    background: #ddd;
    /* Warna jalur tidak aktif */
    border-radius: 5px;
}

/* MUSIC PLAYER UI */

/* NOTIFIKASI MUSIC */
#notificationPlayer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    background-color: #1a1a1a;
    color: white;
    position: fixed;
    bottom: 75px;
    width: calc(100% - 20px);
    /* Responsif untuk layar kecil */
    margin: 0 10px;
    /* Margin di kiri dan kanan */
    box-sizing: border-box;
    z-index: 1;
    display: none;
    /* Awalnya tersembunyi */
    border-radius: 7px;
}

/* Gambar Album */
#notificationAlbumCover {
    width: 43px;
    height: 43px;
    border-radius: 5px;
    margin-right: 10px;
    object-fit: cover;
    /* Untuk memastikan gambar selalu proporsional */
    cursor: pointer;

    /* EFEK BUG WARNA BIRU */
    outline: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    touch-action: manipulation;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* Detil Notifikasi */
#notificationDetails {
    flex: 1;
    font-size: 12px;
    font-weight: bold;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* Memastikan judul lagu tidak terpotong aneh */
    cursor: pointer;

    /* EFEK BUG WARNA BIRU */
    outline: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    touch-action: manipulation;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* Tombol Play/Pause */
#playPauseNotificationBtn {
    width: 43px;
    height: 43px;
    margin-left: auto;
    background: none;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    /* EFEK BUG WARNA BIRU */
    outline: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    touch-action: manipulation;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#notificationDetails span:hover {
    filter: brightness(100%);
}

#playPauseImg {
    width: 100%;
    height: auto;
}

/* NOTIFIKASI MUSIC */

/* MENU */
/* Gaya Navigasi Bawah */
.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(rgba(31, 31, 33, 0.473), rgb(31, 31, 33));
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 7px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.bottom-nav a {
    text-decoration: none;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #b3b3b3;
    font-size: 10px;
    cursor: pointer;
    transition: color 0.3s ease;
    margin-top: 7px;
}

.active {
    color: white;
    filter: brightness(100%);
}

.nav-icon {
    width: 25px;
    height: 25px;
    margin-bottom: -5px;
    filter: brightness(50%);
}

/* Efek Aktif */
.nav-item.active {
    filter: brightness(3);
}

/* Menghilangkan efek highlight biru pada mobile browser */
* {
    -webkit-tap-highlight-color: transparent;
}

/* MENU */



@media screen and (min-width: 1280px) {}

@media screen and (min-width: 720px) {

    /* MUSIC PLAYER UI */
    .music-player-ui {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: #1e2d2f;
        color: white;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        align-items: center;
        padding: 20px;
        box-sizing: border-box;
        z-index: 100;
        transform: translateY(100%);
        transition: transform 0.3s ease;
    }

    .music-player-ui.active {
        transform: translateY(0);
    }

    .music-player-ui::-webkit-scrollbar {
        display: none;
    }

    .music-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: -5px;
        margin-bottom: 40px;
    }

    .title-music-player {
        font-size: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .album {
        font-size: 12px;
        font-weight: 700;
    }

    .album-cover-large {
        width: 400px;
        margin: 20px 0;
        border-radius: 10px;
    }

    .song-info-large {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-top: 25px;
        width: 100%;
    }

    .song-info-large h2 {
        font-size: 14px;
    }

    .song-info-large p {
        font-size: 13px;
        margin-top: -10px;
    }

    .progress-bar-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 10px 0;
    }

    .timeandduration-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 3px;
    }

    .progress-bar-container span {
        font-size: 12px;
        text-align: center;
        color: #a9a5a5;
    }

    .progress-bar-container input[type="range"] {
        flex: 1;
        width: 100%;
    }

    .controls-large {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 10px;

        /* EFEK BUG WARNA BIRU */
        outline: none;
        -webkit-tap-highlight-color: transparent;
        user-select: none;
        touch-action: manipulation;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    .back-btn,
    .more-options {
        width: 25px;
        height: 25px;
        cursor: pointer;
        background: none;
        border: none;
        transition: transform 0.2s ease;
    }

    .control-btn-large:hover,
    .back-btn:hover {
        filter: brightness(80%);
    }

    #playPauseLarge {
        width: 60px;
        height: 60px;
    }

    #shuffleLarge,
    #nextLarge,
    #prevLarge,
    #repeatLarge {
        width: 25px;
        height: 25px;
        margin: auto 0;
    }

    .credits-container {
        background-color: #1e2d2f;
        margin-top: 70px;
        width: 100%;
        border-radius: 10px;
        margin-bottom: 70px;
    }

    .credits {
        margin: 10px;
    }

    .card-title-credits {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 10px;
    }

    .card-title-credits a {
        text-decoration: none;
    }

    .credits-container h1 {
        color: white;
        font-size: 13px;
        font-weight: normal;

        /* EFEK BUG WARNA BIRU */
        outline: none;
        -webkit-tap-highlight-color: transparent;
        user-select: none;
        touch-action: manipulation;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    .credits-container p {
        color: #c2c2c2;
        font-size: 12px;
        margin-top: -5px;
        cursor: default;
    }

    /* Mengatur tinggi dan warna slider */
    input[type="range"] {
        -webkit-appearance: none;
        /* Hilangkan style default browser */
        -moz-appearance: none;
        appearance: none;
        width: 100%;
        /* Sesuaikan lebar */
        height: 6px;
        /* Atur tinggi slider */
        background: none;
        /* Warna background track slider */
        border-radius: 5px;
        /* Rounded edges */
        outline: none;
        /* Hilangkan border focus */
        cursor: pointer;
    }

    /* Warna thumb slider untuk Chrome, Safari, dan Edge */
    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        /* Hilangkan style default browser */
        appearance: none;
        width: 6px;
        /* Lebar thumb */
        height: 6px;
        /* Tinggi thumb */
        background: white;
        /* Warna thumb */
        border-radius: 50%;
        /* Rounded thumb */
        cursor: pointer;
    }

    /* Jalur aktif untuk Chrome, Safari, dan Edge */
    input[type="range"]::-webkit-slider-runnable-track {
        background: #302f2f;
        /* Warna jalur aktif */
        height: 6px;
        /* Atur tinggi track */
        border-radius: 5px;
    }

    /* Warna thumb slider untuk Firefox */
    input[type="range"]::-moz-range-thumb {
        width: 6px;
        height: 6px;
        background: white;
        border-radius: 50%;
        cursor: pointer;
    }

    /* Jalur untuk Firefox */
    input[type="range"]::-moz-range-track {
        background: #302f2f;
        height: 6px;
        /* Atur tinggi track */
        border-radius: 5px;
    }

    /* Jalur aktif untuk Firefox */
    input[type="range"]::-moz-range-progress {
        background: white;
        /* Warna jalur aktif */
        height: 6px;
        /* Atur tinggi track */
        border-radius: 5px;
    }

    /* Warna thumb slider untuk Internet Explorer */
    input[type="range"]::-ms-thumb {
        width: 6px;
        height: 6px;
        background: white;
        border-radius: 50%;
        cursor: pointer;
    }

    /* Jalur untuk Internet Explorer */
    input[type="range"]::-ms-track {
        background: transparent;
        /* Hapus style default */
        border-color: transparent;
        color: transparent;
        height: 6px;
    }

    /* Jalur aktif untuk Internet Explorer */
    input[type="range"]::-ms-fill-lower {
        background: #302f2f;
        /* Warna jalur aktif */
        border-radius: 5px;
    }

    input[type="range"]::-ms-fill-upper {
        background: #ddd;
        /* Warna jalur tidak aktif */
        border-radius: 5px;
    }

    /* MUSIC PLAYER UI */
}

@media screen and (width: 800px) {}

@media screen and (max-width: 810px) {}

@media screen and (width: 375px) {
    .song-card h1 {
        width: 200px;
    }
}

@media screen and (width: 360px) {
    .song-card h1 {
        width: 180px;
    }
}

@media screen and (width: 320px) {
    .song-card h1 {
        width: 160px;
    }
}



/* MOBILE DEVICES */
@media (min-width: 320px) and (max-width: 375px) {
    .thumbnail-genre h1 {
        font-size: 2rem;
    }

    .thumbnail-genre2nd h1 {
        font-size: 2rem;
    }

    /* MUSIC PLAYER UI */
    .music-player-ui {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: #1e2d2f;
        color: white;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        align-items: center;
        padding: 20px;
        box-sizing: border-box;
        z-index: 100;
        transform: translateY(100%);
        transition: transform 0.3s ease;
    }

    .music-player-ui.active {
        transform: translateY(0);
    }

    .music-player-ui::-webkit-scrollbar {
        display: none;
    }

    .music-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: -5px;
        margin-bottom: 40px;
    }

    .title-music-player {
        font-size: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .album {
        font-size: 10px;
        font-weight: 700;
    }

    .album-cover-large {
        width: 100%;
        margin: 20px 0;
        border-radius: 10px;
    }

    .song-info-large {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-top: 25px;
        width: 100%;
    }

    .song-info-large h2 {
        font-size: 14px;
    }

    .song-info-large p {
        font-size: 13px;
        margin-top: -10px;
    }

    .progress-bar-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 10px 0;
    }

    .timeandduration-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 3px;
    }

    .progress-bar-container span {
        font-size: 12px;
        text-align: center;
        color: #a9a5a5;
    }

    .progress-bar-container input[type="range"] {
        flex: 1;
        width: 100%;
    }

    .controls-large {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 10px;

        /* EFEK BUG WARNA BIRU */
        outline: none;
        -webkit-tap-highlight-color: transparent;
        user-select: none;
        touch-action: manipulation;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    .back-btn,
    .more-options {
        width: 25px;
        height: 25px;
        cursor: pointer;
        background: none;
        border: none;
        transition: transform 0.2s ease;
    }

    .control-btn-large:hover,
    .back-btn:hover {
        filter: brightness(80%);
    }

    #playPauseLarge {
        width: 60px;
        height: 60px;
    }

    #shuffleLarge,
    #nextLarge,
    #prevLarge,
    #repeatLarge {
        width: 25px;
        height: 25px;
        margin: auto 0;
    }

    .credits-container {
        background-color: #1e2d2f;
        margin-top: 70px;
        width: 100%;
        border-radius: 10px;
        margin-bottom: 70px;
    }

    .credits {
        margin: 10px;
    }

    .card-title-credits {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 10px;
    }

    .card-title-credits a {
        text-decoration: none;
    }

    .credits-container h1 {
        color: white;
        font-size: 13px;
        font-weight: normal;

        /* EFEK BUG WARNA BIRU */
        outline: none;
        -webkit-tap-highlight-color: transparent;
        user-select: none;
        touch-action: manipulation;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    .credits-container p {
        color: #c2c2c2;
        font-size: 12px;
        margin-top: -5px;
        cursor: default;
    }

    /* Mengatur tinggi dan warna slider */
    input[type="range"] {
        -webkit-appearance: none;
        /* Hilangkan style default browser */
        -moz-appearance: none;
        appearance: none;
        width: 100%;
        /* Sesuaikan lebar */
        height: 6px;
        /* Atur tinggi slider */
        background: none;
        /* Warna background track slider */
        border-radius: 5px;
        /* Rounded edges */
        outline: none;
        /* Hilangkan border focus */
        cursor: pointer;
    }

    /* Warna thumb slider untuk Chrome, Safari, dan Edge */
    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        /* Hilangkan style default browser */
        appearance: none;
        width: 6px;
        /* Lebar thumb */
        height: 6px;
        /* Tinggi thumb */
        background: white;
        /* Warna thumb */
        border-radius: 50%;
        /* Rounded thumb */
        cursor: pointer;
    }

    /* Jalur aktif untuk Chrome, Safari, dan Edge */
    input[type="range"]::-webkit-slider-runnable-track {
        background: #302f2f;
        /* Warna jalur aktif */
        height: 6px;
        /* Atur tinggi track */
        border-radius: 5px;
    }

    /* Warna thumb slider untuk Firefox */
    input[type="range"]::-moz-range-thumb {
        width: 6px;
        height: 6px;
        background: white;
        border-radius: 50%;
        cursor: pointer;
    }

    /* Jalur untuk Firefox */
    input[type="range"]::-moz-range-track {
        background: #302f2f;
        height: 6px;
        /* Atur tinggi track */
        border-radius: 5px;
    }

    /* Jalur aktif untuk Firefox */
    input[type="range"]::-moz-range-progress {
        background: white;
        /* Warna jalur aktif */
        height: 6px;
        /* Atur tinggi track */
        border-radius: 5px;
    }

    /* Warna thumb slider untuk Internet Explorer */
    input[type="range"]::-ms-thumb {
        width: 6px;
        height: 6px;
        background: white;
        border-radius: 50%;
        cursor: pointer;
    }

    /* Jalur untuk Internet Explorer */
    input[type="range"]::-ms-track {
        background: transparent;
        /* Hapus style default */
        border-color: transparent;
        color: transparent;
        height: 6px;
    }

    /* Jalur aktif untuk Internet Explorer */
    input[type="range"]::-ms-fill-lower {
        background: #302f2f;
        /* Warna jalur aktif */
        border-radius: 5px;
    }

    input[type="range"]::-ms-fill-upper {
        background: #ddd;
        /* Warna jalur tidak aktif */
        border-radius: 5px;
    }

    /* MUSIC PLAYER UI */
}

/* MOBILE DEVICES */
@media (min-width: 376px) and (max-width: 480px) {}

/* TABLET */
@media (min-width: 481px) and (max-width: 1025px) {}

/* DESKTOP SITE (MOBILE DEVICES) */
@media screen and (min-width: 768px) and (max-width: 1080px) {

    /* MUSIC PLAYER UI */
    .music-player-ui {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: #1e2d2f;
        color: white;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        align-items: center;
        padding: 20px;
        box-sizing: border-box;
        z-index: 100;
        transform: translateY(100%);
        transition: transform 0.3s ease;
    }

    .music-player-ui.active {
        transform: translateY(0);
    }

    .music-player-ui::-webkit-scrollbar {
        display: none;
    }

    .music-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: -5px;
        margin-bottom: 40px;
    }

    .title-music-player {
        font-size: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .album {
        font-size: 12px;
        font-weight: 700;
    }

    .album-cover-large {
        width: 400px;
        margin: 20px 0;
        border-radius: 10px;
    }

    .song-info-large {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-top: 25px;
        width: 100%;
    }

    .song-info-large h2 {
        font-size: 14px;
    }

    .song-info-large p {
        font-size: 13px;
        margin-top: -10px;
    }

    .progress-bar-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 10px 0;
    }

    .timeandduration-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 3px;
    }

    .progress-bar-container span {
        font-size: 12px;
        text-align: center;
        color: #a9a5a5;
    }

    .progress-bar-container input[type="range"] {
        flex: 1;
        width: 100%;
    }

    .controls-large {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 10px;

        /* EFEK BUG WARNA BIRU */
        outline: none;
        -webkit-tap-highlight-color: transparent;
        user-select: none;
        touch-action: manipulation;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    .back-btn,
    .more-options {
        width: 25px;
        height: 25px;
        cursor: pointer;
        background: none;
        border: none;
        transition: transform 0.2s ease;
    }

    .control-btn-large:hover,
    .back-btn:hover {
        filter: brightness(80%);
    }

    #playPauseLarge {
        width: 60px;
        height: 60px;
    }

    #shuffleLarge,
    #nextLarge,
    #prevLarge,
    #repeatLarge {
        width: 25px;
        height: 25px;
        margin: auto 0;
    }

    .credits-container {
        background-color: #1e2d2f;
        margin-top: 70px;
        width: 100%;
        border-radius: 10px;
        margin-bottom: 70px;
    }

    .credits {
        margin: 10px;
    }

    .card-title-credits {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 10px;
    }

    .card-title-credits a {
        text-decoration: none;
    }

    .credits-container h1 {
        color: white;
        font-size: 13px;
        font-weight: normal;

        /* EFEK BUG WARNA BIRU */
        outline: none;
        -webkit-tap-highlight-color: transparent;
        user-select: none;
        touch-action: manipulation;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    .credits-container p {
        color: #c2c2c2;
        font-size: 12px;
        margin-top: -5px;
        cursor: default;
    }

    /* Mengatur tinggi dan warna slider */
    input[type="range"] {
        -webkit-appearance: none;
        /* Hilangkan style default browser */
        -moz-appearance: none;
        appearance: none;
        width: 100%;
        /* Sesuaikan lebar */
        height: 6px;
        /* Atur tinggi slider */
        background: none;
        /* Warna background track slider */
        border-radius: 5px;
        /* Rounded edges */
        outline: none;
        /* Hilangkan border focus */
        cursor: pointer;
    }

    /* Warna thumb slider untuk Chrome, Safari, dan Edge */
    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        /* Hilangkan style default browser */
        appearance: none;
        width: 6px;
        /* Lebar thumb */
        height: 6px;
        /* Tinggi thumb */
        background: white;
        /* Warna thumb */
        border-radius: 50%;
        /* Rounded thumb */
        cursor: pointer;
    }

    /* Jalur aktif untuk Chrome, Safari, dan Edge */
    input[type="range"]::-webkit-slider-runnable-track {
        background: #302f2f;
        /* Warna jalur aktif */
        height: 6px;
        /* Atur tinggi track */
        border-radius: 5px;
    }

    /* Warna thumb slider untuk Firefox */
    input[type="range"]::-moz-range-thumb {
        width: 6px;
        height: 6px;
        background: white;
        border-radius: 50%;
        cursor: pointer;
    }

    /* Jalur untuk Firefox */
    input[type="range"]::-moz-range-track {
        background: #302f2f;
        height: 6px;
        /* Atur tinggi track */
        border-radius: 5px;
    }

    /* Jalur aktif untuk Firefox */
    input[type="range"]::-moz-range-progress {
        background: white;
        /* Warna jalur aktif */
        height: 6px;
        /* Atur tinggi track */
        border-radius: 5px;
    }

    /* Warna thumb slider untuk Internet Explorer */
    input[type="range"]::-ms-thumb {
        width: 6px;
        height: 6px;
        background: white;
        border-radius: 50%;
        cursor: pointer;
    }

    /* Jalur untuk Internet Explorer */
    input[type="range"]::-ms-track {
        background: transparent;
        /* Hapus style default */
        border-color: transparent;
        color: transparent;
        height: 6px;
    }

    /* Jalur aktif untuk Internet Explorer */
    input[type="range"]::-ms-fill-lower {
        background: #302f2f;
        /* Warna jalur aktif */
        border-radius: 5px;
    }

    input[type="range"]::-ms-fill-upper {
        background: #ddd;
        /* Warna jalur tidak aktif */
        border-radius: 5px;
    }

    /* MUSIC PLAYER UI */
}

/* LAPTOP */
@media (min-width: 769px) and (max-width: 1024px) {}

/* DESKTOP */
@media (min-width: 1025px) {}

/* DESKTOP 1920px */
@media (min-width: 1920px) {}

@media only screen and (max-width: 926px) and (orientation: landscape) {}

@media only screen and (min-width: 1024px) and (orientation: landscape) {}