@charset "utf-8";

/* CSS Document*/
body {
	background-color: #121212;
	margin: 0px;
	padding: 0px;
	scroll-behavior: smooth;
	font-family: 'Roboto', Verdana, Arial, sans-serif;

	overflow: auto;
	/* tetap scrollable */
	scrollbar-width: none;
	/* Firefox */
	-ms-overflow-style: none;
	/* IE & Edge */
}

body::-webkit-scrollbar {
	display: none;
}

/* LOADING SCREEN */
#loading-screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #171a21;
	/* bisa disesuaikan */
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
	flex-direction: column;
	transition: opacity 0.5s ease;
}

#loading-screen.fade-out {
	opacity: 0;
	visibility: hidden;
}

.loader img {
	width: 130px;
	height: auto;
	animation: pulse 1s infinite ease-in-out;
}


@keyframes pulse {
	0% {
		transform: scale(1);
		opacity: 0.8;
	}

	50% {
		transform: scale(1.1);
		opacity: 1;
	}

	100% {
		transform: scale(1);
		opacity: 0.8;
	}
}

/* LOADING SCREEN */

/* LOGO WEBSITE */
.container-logoweb {
	display: flex;
	justify-content: center;
}

.logo-website {
	width: 140px;
	height: auto;
	margin: -23px;
}

/* LOGO WEBSITE */

/* HAMBURGER NAVBAR */
.mobile-menu {
	padding: 15px;
	font-family: sans-serif;
	font-size: 22px;
}

.menu-toggle {
	display: flex;
	flex-direction: column;
	width: 26px;
	cursor: pointer;
	padding: 5px;
	margin-top: -37px;
	margin-left: -7px;
	outline: none;
}

.menu-icon {
	background-color: #c7d5e0;
	height: 4px;
	margin: 3px 0;
	border-radius: 2px;
}

.menu-content {
	height: 100vh;
	overflow-y: scroll;
	position: fixed;
	left: -250px;
	top: 0;
	width: 280px;
	height: 100%;
	background-color: #1b1b1b;
	box-shadow: 0 0 35px rgba(0, 0, 0, 0.3);
	transition: left 0.3s ease;
	display: none;
	z-index: 999;
}

.menu-content::-webkit-scrollbar {
	height: 8px;
}

.menu-content::-webkit-scrollbar-thumb {
	background-color: #1b2838;
	border-radius: 3px;
}

.has-submenu {
	border-bottom: 0.3px solid #444;
}

.has-submenu:hover {
	background-color: #1b2838;
}

.menu-content ul {
	list-style: none;
	padding-left: 0;
}

.menu-content ul li {
	padding: 12px;
}

.menu-content ul li a {
	color: #c7d5e0;
	text-decoration: none;
}

.menu-content ul li.has-submenu>a {
	position: relative;
}

.menu-content ul li.has-submenu>a::after {
	content: "";
	position: absolute;
	right: 10px;
}

.submenu-toggle {
	display: block;
	-webkit-tap-highlight-color: transparent;
	touch-action: manipulation;
	user-select: none;
}

.submenu-toggle:focus,
.submenu-toggle:active {
	outline: none;
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.submenu {
	display: none;
	font-size: 17px;
	margin-top: 7px;
}

.submenu li:hover {
	background: #297aa9;
	width: 100vw;
}

.menu-link {
	display: block;
	-webkit-tap-highlight-color: transparent;
	touch-action: manipulation;
	user-select: none;
}

.menu-link:focus,
.menu-link:active {
	outline: none;
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/* Overlay untuk menutupi konten di bawah menu */
#overlay {
	display: none;
	/* Awalnya tidak terlihat */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* Warna semi-transparan */
	z-index: 998;
	/* Di bawah menu tapi di atas konten lainnya */
}

/* HAMBURGER NAVBAR */

/* FOOTER */
.logo-footer {
	width: 115px;
	height: auto;
	margin-left: 0;
	margin-bottom: -7px;
}

.footer {
	margin: 20px;
	font-family: sans-serif;
	color: #eaeaea;
	font-size: 9px;
	width: 220px;
	margin-left: 10px;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: rgb(168, 247, 21);
	transition: all .5s ease 0s;
}

/* FOOTER */

/* ALBUM MUSIC */
.container-album {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	cursor: pointer;
	margin: 10px;
	gap: 7px;

	/* EFEK BUG WARNA BIRU */
	outline: none;
	-webkit-tap-highlight-color: transparent;
	user-select: none;
	touch-action: manipulation;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.card-album {
	background-color: #3a3d3e;
	padding: 0;
	display: flex;
	align-items: center;
	cursor: pointer;
	color: white;
	overflow: hidden;
	border-radius: 4px;

	/* EFEK BUG WARNA BIRU */
	outline: none;
	-webkit-tap-highlight-color: transparent;
	user-select: none;
	touch-action: manipulation;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.card-album:hover {
	background-color: #24272d;
}

.card-album p {
	margin: 7px;
	font-size: 10px;
	font-weight: bold;
	width: 105px;
	white-space: wrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.card-album img {
	width: 58px;
	height: auto;

	/* EFEK BUG WARNA BIRU */
	outline: none;
	-webkit-tap-highlight-color: transparent;
	user-select: none;
	touch-action: manipulation;
	-webkit-user-select: none;
	-ms-user-select: none;
}

/* ALBUM MUSIC */

/* GENRE */
.nav-genre {
	display: flex;
	justify-content: left;
	margin: 10px;
	margin-top: 30px;
}

.nav-genre h1 {
	font-size: 17px;
	color: white;
}

.container-genre {
	display: flex;
	overflow-x: auto;
	overflow-y: hidden;
	gap: 10px;
	margin-top: -5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

.card-genre {
	display: flex;
	align-items: center;
	cursor: pointer;
	position: relative;

	/* EFEK BUG WARNA BIRU */
	outline: none;
	-webkit-tap-highlight-color: transparent;
	user-select: none;
	touch-action: manipulation;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.card-genre p {
	color: white;
	position: absolute;
	bottom: 0;
	left: 10px;
	font-size: 17px;
}

.card-genre img {
	width: 170px;
	height: auto;

	/* EFEK BUG WARNA BIRU */
	outline: none;
	-webkit-tap-highlight-color: transparent;
	user-select: none;
	touch-action: manipulation;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.card-genre img:hover {
	filter: brightness(60%);
}

.metal {
	background-color: red;
	padding-bottom: 7px;
}

.rap {
	background-color: sandybrown;
	padding-bottom: 7px;
}

.pop {
	background-color: wheat;
	padding-bottom: 7px;
}

.poprock {
	background-color: orange;
	padding-bottom: 7px;
}

.poppunk {
	background-color: blue;
	padding-bottom: 7px;
}

.skapunk {
	background-color: slateblue;
	padding-bottom: 7px;
}

.reggae {
	background-color: slategray;
	padding-bottom: 7px;
}

.jazz {
	background-color: skyblue;
	padding-bottom: 7px;
}

/* GENRE */

/* POPULAR ALBUMS */
.nav-popularalbums {
	display: flex;
	justify-content: left;
	margin: 10px;
	margin-top: 30px;
}

.nav-popularalbums h1 {
	font-size: 17px;
	color: white;
}

.container-popularalbums {
	display: flex;
	overflow-x: auto;
	overflow-y: hidden;
	gap: 10px;
	margin-top: -5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	margin-bottom: 50px;

	/* EFEK BUG WARNA BIRU */
	outline: none;
	-webkit-tap-highlight-color: transparent;
	user-select: none;
	touch-action: manipulation;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.card-popularalbums {
	display: flex;
	align-items: center;
	cursor: pointer;
	position: relative;
	padding-bottom: 25px;

	/* EFEK BUG WARNA BIRU */
	outline: none;
	-webkit-tap-highlight-color: transparent;
	user-select: none;
	touch-action: manipulation;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.card-popularalbums p {
	color: white;
	position: absolute;
	bottom: -9px;
	left: 3px;
	font-size: 13px;
	width: 155px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	/* EFEK BUG WARNA BIRU */
	outline: none;
	-webkit-tap-highlight-color: transparent;
	user-select: none;
	touch-action: manipulation;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.card-popularalbums img {
	width: 170px;
	height: auto;

	/* EFEK BUG WARNA BIRU */
	outline: none;
	-webkit-tap-highlight-color: transparent;
	user-select: none;
	touch-action: manipulation;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.card-popularalbums img:hover {
	filter: brightness(60%);
}

/* POPULAR ALBUMS */

/* ARTISTS */
.nav-artists {
	display: flex;
	justify-content: left;
	margin: 10px;
	margin-top: 30px;
}

.nav-artists h1 {
	font-size: 17px;
	color: white;
}

.container-artists {
	display: flex;
	overflow-x: auto;
	overflow-y: hidden;
	gap: 10px;
	margin-top: -5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	margin-bottom: 150px;

	/* EFEK BUG WARNA BIRU */
	outline: none;
	-webkit-tap-highlight-color: transparent;
	user-select: none;
	touch-action: manipulation;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.card-artists {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	position: relative;
	padding-bottom: 25px;

	/* EFEK BUG WARNA BIRU */
	outline: none;
	-webkit-tap-highlight-color: transparent;
	user-select: none;
	touch-action: manipulation;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.card-artists p {
	color: white;
	position: absolute;
	display: flex;
	bottom: -17px;
	font-size: 13px;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	/* EFEK BUG WARNA BIRU */
	outline: none;
	-webkit-tap-highlight-color: transparent;
	user-select: none;
	touch-action: manipulation;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.card-artists img {
	width: 170px;
	height: auto;
	border-radius: 50%;

	/* EFEK BUG WARNA BIRU */
	outline: none;
	-webkit-tap-highlight-color: transparent;
	user-select: none;
	touch-action: manipulation;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.card-artists img:hover {
	filter: brightness(60%);
}

/* ARTISTS */

/* MENU */
/* Gaya Navigasi Bawah */
.bottom-nav {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: linear-gradient(rgba(31, 31, 33, 0.473), rgb(31, 31, 33));
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 7px 0;
	box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
}

.bottom-nav a {
	text-decoration: none;
}

.nav-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #b3b3b3;
	font-size: 10px;
	cursor: pointer;
	transition: color 0.3s ease;
	margin-top: 7px;
}

.active {
	color: white;
	filter: brightness(100%);
}

.nav-icon {
	width: 25px;
	height: 25px;
	margin-bottom: -5px;
	filter: brightness(50%);
}

/* Efek Aktif */
.nav-item.active {
	filter: brightness(3);
}

/* Menghilangkan efek highlight biru pada mobile browser */
* {
	-webkit-tap-highlight-color: transparent;
}

/* MENU */



@media screen and (min-width: 1280px) {}

@media screen and (min-width: 720px) {

	/* ALBUM MUSIC */
	.container-album {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		border-radius: 8px;
		cursor: pointer;
		margin: 10px;
		gap: 7px;
	}

	.card-album {
		background-color: #3a3d3e;
		padding: 0;
		display: flex;
		align-items: center;
		cursor: pointer;
		color: white;
		overflow: hidden;
		border-radius: 5px;
	}

	.card-album p {
		margin: 7px;
		font-size: 17px;
		font-weight: bold;
		width: max-content;
	}

	.card-album img {
		width: 80px;
		height: auto;
	}

	/* ALBUM MUSIC */

	/* GENRE */
	.container-genre::-webkit-scrollbar {
		height: 8px;
	}

	.container-genre::-webkit-scrollbar-thumb {
		background-color: #423f3ebb;
		border-radius: 3px;
	}

	/* GENRE */

	/* POPULAR ALBUMS */
	.container-popularalbums::-webkit-scrollbar {
		height: 8px;
	}

	.container-popularalbums::-webkit-scrollbar-thumb {
		background-color: #423f3ebb;
		border-radius: 3px;
	}

	/* POPULAR ALBUMS */

	/* ARTIRTS */
	.container-artists::-webkit-scrollbar {
		height: 8px;
	}

	.container-artists::-webkit-scrollbar-thumb {
		background-color: #423f3ebb;
		border-radius: 3px;
	}

	/* ARTIRTS */
}

@media screen and (width: 800px) {}

@media screen and (max-width: 810px) {}



/* MOBILE DEVICES */
@media (min-width: 320px) and (max-width: 375px) {

	/* ALBUM MUSIC */
	.container-album {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		cursor: pointer;
		margin: 10px;
		gap: 7px;
	}

	.card-album {
		background-color: #3a3d3e;
		padding: 0;
		display: flex;
		align-items: center;
		cursor: pointer;
		color: white;
		overflow: hidden;
		border-radius: 4px;

		/* EFEK BUG WARNA BIRU */
		outline: none;
		-webkit-tap-highlight-color: transparent;
		user-select: none;
		touch-action: manipulation;
		-webkit-user-select: none;
		-ms-user-select: none;
	}

	.card-album:hover {
		background-color: #297aa9;
	}

	.card-album p {
		margin: 7px;
		font-size: 8px;
		width: 95px;
		white-space: wrap;
		overflow: hidden;
	}

	.card-album img {
		width: 55px;
		height: auto;

		/* EFEK BUG WARNA BIRU */
		outline: none;
		-webkit-tap-highlight-color: transparent;
		user-select: none;
		touch-action: manipulation;
		-webkit-user-select: none;
		-ms-user-select: none;
	}

	/* ALBUM MUSIC */
}

@media screen and (width: 360px) {

	/* ALBUM MUSIC */
	.container-album {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		cursor: pointer;
		margin: 10px;
		gap: 7px;
	}

	.card-album {
		background-color: #3a3d3e;
		padding: 0;
		display: flex;
		align-items: center;
		cursor: pointer;
		color: white;
		overflow: hidden;
		border-radius: 4px;

		/* EFEK BUG WARNA BIRU */
		outline: none;
		-webkit-tap-highlight-color: transparent;
		user-select: none;
		touch-action: manipulation;
		-webkit-user-select: none;
		-ms-user-select: none;
	}

	.card-album:hover {
		background-color: #297aa9;
	}

	.card-album p {
		margin: 7px;
		font-size: 8px;
		width: 85px;
		white-space: wrap;
		overflow: hidden;
	}

	.card-album img {
		width: 55px;
		height: auto;

		/* EFEK BUG WARNA BIRU */
		outline: none;
		-webkit-tap-highlight-color: transparent;
		user-select: none;
		touch-action: manipulation;
		-webkit-user-select: none;
		-ms-user-select: none;
	}

	/* ALBUM MUSIC */
}

@media screen and (width: 320px) {

	/* ALBUM MUSIC */
	.container-album {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		cursor: pointer;
		margin: 10px;
		gap: 7px;
	}

	.card-album {
		background-color: #3a3d3e;
		padding: 0;
		display: flex;
		align-items: center;
		cursor: pointer;
		color: white;
		overflow: hidden;
		border-radius: 4px;

		/* EFEK BUG WARNA BIRU */
		outline: none;
		-webkit-tap-highlight-color: transparent;
		user-select: none;
		touch-action: manipulation;
		-webkit-user-select: none;
		-ms-user-select: none;
	}

	.card-album:hover {
		background-color: #297aa9;
	}

	.card-album p {
		margin: 7px;
		font-size: 8px;
		width: 70px;
		white-space: wrap;
		overflow: hidden;
	}

	.card-album img {
		width: 55px;
		height: auto;

		/* EFEK BUG WARNA BIRU */
		outline: none;
		-webkit-tap-highlight-color: transparent;
		user-select: none;
		touch-action: manipulation;
		-webkit-user-select: none;
		-ms-user-select: none;
	}

	/* ALBUM MUSIC */
}

/* MOBILE DEVICES */
@media (min-width: 376px) and (max-width: 480px) {}

/* TABLET */
@media (min-width: 481px) and (max-width: 1025px) {}

/* DESKTOP SITE (MOBILE DEVICES) */
@media screen and (min-width: 768px) and (max-width: 1080px) {

	/* ALBUM MUSIC */
	.container-album {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		border-radius: 8px;
		cursor: pointer;
		margin: 10px;
		gap: 7px;
	}

	.card-album {
		background-color: #3a3d3e;
		padding: 0;
		display: flex;
		align-items: center;
		cursor: pointer;
		color: white;
		overflow: hidden;
		border-radius: 5px;
	}

	.card-album p {
		margin: 7px;
		font-size: 17px;
		font-weight: bold;
		width: max-content;
	}

	.card-album img {
		width: 80px;
		height: auto;
	}

	/* ALBUM MUSIC */

	/* GENRE */
	.container-genre::-webkit-scrollbar {
		height: 8px;
	}

	.container-genre::-webkit-scrollbar-thumb {
		background-color: #423f3ebb;
		border-radius: 3px;
	}

	/* GENRE */

	/* POPULAR ALBUMS */
	.container-popularalbums::-webkit-scrollbar {
		height: 8px;
	}

	.container-popularalbums::-webkit-scrollbar-thumb {
		background-color: #423f3ebb;
		border-radius: 3px;
	}

	/* POPULAR ALBUMS */

	/* ARTIRTS */
	.container-artists::-webkit-scrollbar {
		height: 8px;
	}

	.container-artists::-webkit-scrollbar-thumb {
		background-color: #423f3ebb;
		border-radius: 3px;
	}

	/* ARTIRTS */
}

/* LAPTOP */
@media (min-width: 769px) and (max-width: 1024px) {}

/* DESKTOP */
@media (min-width: 1025px) {

	/* HAMBURGER NAVBAR */
	.mobile-menu {
		font-size: 17px;
	}

	.menu-toggle {
		display: flex;
		flex-direction: column;
		width: 26px;
		cursor: pointer;
		padding: 5px;
		margin-top: -31px;
		margin-left: -7px;
	}

	.menu-content ul li {
		padding: 9px;
	}

	.submenu {
		font-size: 14px;
	}

	/* HAMBURGER NAVBAR */

	/* FOOTER */
	.logo-footer {
		width: 70px;
		height: auto;
	}

	.footer {
		font-size: 8px;
	}

	/* FOOTER */
}

/* DESKTOP 1920px */
@media (min-width: 1920px) {}

@media only screen and (max-width: 926px) and (orientation: landscape) {
	.menu-content {
		height: 100vh;
		overflow-y: scroll;
	}

	.mobile-menu {
		overflow-y: hidden;
	}

	.menu-toggle {
		position: relative;
		top: 0;
		margin-top: -37px;
		margin-left: -7px;
	}

	.footer {
		margin-top: 30px;
	}
}

@media only screen and (min-width: 1024px) and (orientation: landscape) {}