@charset "utf-8";

/* CSS Document*/
body {
    background-color: #121212;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    font-family: 'Roboto', Verdana, Arial, sans-serif;
}

/* SEARCH */
.container-search {
    display: flex;
    justify-content: left;
    margin: 10px;
}

.container-search h1 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    float: left;
    cursor: default;
}

/* SEARCH */

/* SEARCH ENGINE */
.box-input {
    display: flex;
    justify-content: center;
    margin: 10px;
}

#searchInput {
    width: 100%;
    background-color: white;
    border-radius: 3px;
    padding: 13px;
    margin-top: 3px;
    font-size: 17px;
    font-weight: bold;
    border: none;

    /* EFEK BUG WARNA BIRU */
    outline: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    touch-action: manipulation;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#suggestions {
    z-index: 999;
    position: absolute;
    list-style: none;
    margin-top: 50px;
    padding: 0;
    color: white;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    background-color: #2e2f31;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 100%;

    /* EFEK BUG WARNA BIRU */
    outline: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    touch-action: manipulation;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.suggestion-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1.6;

    /* EFEK BUG WARNA BIRU */
    outline: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    touch-action: manipulation;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.suggestion-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    gap: 5px;
    width: 235px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    /* EFEK BUG WARNA BIRU */
    outline: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    touch-action: manipulation;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.suggestion-price {
    font-size: 11px;
    font-weight: normal;
    color: #919191;

    /* EFEK BUG WARNA BIRU */
    outline: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    touch-action: manipulation;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.suggestion-image {
    width: 55px;
    height: auto;
    border-radius: 5px;

    /* EFEK BUG WARNA BIRU */
    outline: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    touch-action: manipulation;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.circle-img {
    border-radius: 50% !important;
}

/* SEARCH ENGINE */

/* GENRE MUSICS */
.wrapper-genresmusic {
    margin: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    width: 100%;

    /* EFEK BUG WARNA BIRU */
    outline: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    touch-action: manipulation;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.grid-container a {
    text-decoration: none;
}

.grid-item {
    position: relative;
    padding: 7px;
    border-radius: 5px;
    color: white;
    font-size: 13px;
    white-space: wrap;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90px;

    /* EFEK BUG WARNA BIRU */
    outline: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    touch-action: manipulation;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.grid-item span {
    z-index: 1;
}

.playlist-image {
    position: absolute;
    bottom: -3px;
    right: -3px;
    width: 85px;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    z-index: 2;
    transform: rotate(15deg);

    /* EFEK BUG WARNA BIRU */
    outline: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    touch-action: manipulation;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* GENRE MUSICS */

/* MENU */
/* Gaya Navigasi Bawah */
.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(rgba(31, 31, 33, 0.473), rgb(31, 31, 33));
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 7px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
    z-index: 999;
}

.bottom-nav a {
    text-decoration: none;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #b3b3b3;
    font-size: 10px;
    cursor: pointer;
    transition: color 0.3s ease;
    margin-top: 7px;
}

.active {
    color: white;
    filter: brightness(100%);
}

.nav-icon {
    width: 25px;
    height: 25px;
    margin-bottom: -5px;
    filter: brightness(50%);
}

/* Efek Aktif */
.nav-item.active {
    filter: brightness(3);
}

/* Menghilangkan efek highlight biru pada mobile browser */
* {
    -webkit-tap-highlight-color: transparent;
}

/* MENU */



@media screen and (min-width: 1280px) {}

@media screen and (min-width: 720px) {

    /* GENRE MUSICS */
    .wrapper-genresmusic {
        margin: 10px;
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        width: 100%;
    }

    .grid-container a {
        text-decoration: none;
    }

    .grid-item {
        position: relative;
        padding: 10px;
        border-radius: 5px;
        color: white;
        font-size: 15px;
        white-space: wrap;
        font-weight: bold;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 150px;
    }

    .grid-item span {
        z-index: 1;
    }

    .playlist-image {
        position: absolute;
        bottom: -15px;
        right: -15px;
        width: 150px;
        height: auto;
        border-radius: 4px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
        z-index: 2;
        transform: rotate(15deg);
    }

    /* GENRE MUSICS */
}

@media screen and (width: 800px) {}

@media screen and (max-width: 810px) {}



/* MOBILE DEVICES */
@media (min-width: 320px) and (max-width: 375px) {

    /* GENRE MUSICS */
    .wrapper-genresmusic {
        margin: 10px;
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        width: 100%;

        /* EFEK BUG WARNA BIRU */
        outline: none;
        -webkit-tap-highlight-color: transparent;
        user-select: none;
        touch-action: manipulation;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    .grid-container a {
        text-decoration: none;
    }

    .grid-item {
        position: relative;
        padding: 7px;
        border-radius: 5px;
        color: white;
        font-size: 12px;
        white-space: wrap;
        font-weight: bold;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 80px;

        /* EFEK BUG WARNA BIRU */
        outline: none;
        -webkit-tap-highlight-color: transparent;
        user-select: none;
        touch-action: manipulation;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    .grid-item span {
        z-index: 1;
    }

    .playlist-image {
        position: absolute;
        bottom: -2px;
        right: -2px;
        width: 75px;
        height: auto;
        border-radius: 4px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
        z-index: 2;
        transform: rotate(15deg);

        /* EFEK BUG WARNA BIRU */
        outline: none;
        -webkit-tap-highlight-color: transparent;
        user-select: none;
        touch-action: manipulation;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    /* GENRE MUSICS */
}

@media screen and (width: 360px) {}

@media screen and (width: 320px) {}

/* MOBILE DEVICES */
@media (min-width: 376px) and (max-width: 480px) {}

/* TABLET */
@media (min-width: 481px) and (max-width: 1025px) {}

/* DESKTOP SITE (MOBILE DEVICES) */
@media screen and (min-width: 768px) and (max-width: 1080px) {

    /* GENRE MUSICS */
    .wrapper-genresmusic {
        margin: 10px;
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        width: 100%;
    }

    .grid-container a {
        text-decoration: none;
    }

    .grid-item {
        position: relative;
        padding: 10px;
        border-radius: 5px;
        color: white;
        font-size: 15px;
        white-space: wrap;
        font-weight: bold;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 150px;
    }

    .grid-item span {
        z-index: 1;
    }

    .playlist-image {
        position: absolute;
        bottom: -15px;
        right: -15px;
        width: 150px;
        height: auto;
        border-radius: 4px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
        z-index: 2;
        transform: rotate(15deg);
    }

    /* GENRE MUSICS */
}

/* LAPTOP */
@media (min-width: 769px) and (max-width: 1024px) {}

/* DESKTOP */
@media (min-width: 1025px) {}

/* DESKTOP 1920px */
@media (min-width: 1920px) {}

@media only screen and (max-width: 926px) and (orientation: landscape) {}

@media only screen and (min-width: 1024px) and (orientation: landscape) {}