@charset "utf-8";

/* CSS Document*/
body {
    background-color: #171a21;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    font-family: 'Roboto', Verdana, Arial, sans-serif;
}

/* THUMBNAIL GENRE */
.thumbnail-genre {
    padding: 150px;
    position: relative;
}

.poppunk {
    background: linear-gradient(rgba(31, 31, 33, 0.082), rgba(31, 31, 33, 0.886)), url('https://yzdmusic.github.io/thumbnail-1/POP\ PUNK\ \(THUMBNAIL\).jpg');
    background-size: cover;
}

.rap {
    background: linear-gradient(rgba(31, 31, 33, 0.082), rgba(31, 31, 33, 0.886)), url('https://yzdmusic.github.io/thumbnail-1/RAP\ \(THUMBNAIL\).jpg');
    background-size: cover;
}

.metal {
    background: linear-gradient(rgba(31, 31, 33, 0.082), rgba(31, 31, 33, 0.886)), url('https://yzdmusic.github.io/thumbnail-1/METAL\ \(THUMBNAIL\).jpg');
    background-size: cover;
}

.skapunk {
    background: linear-gradient(rgba(31, 31, 33, 0.082), rgba(31, 31, 33, 0.886)), url('https://yzdmusic.github.io/thumbnail-1/SKA\ PUNK\ \(THUMBNAIL\).jpg');
    background-size: cover;
}

.thumbnail-genre h1 {
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    color: white;
    left: 10px;
    bottom: 20px;
}

.thumbnail-genre img {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 10px;
    top: 10px;

    /* EFEK BUG WARNA BIRU */
    outline: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    touch-action: manipulation;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.thumbnail-genre p {
    font-size: 15px;
    font-weight: normal;
    position: absolute;
    color: #c2c2c2;
    left: 10px;
    bottom: -3px;
}

/* THUMBNAIL GENRE */

/* HOME CONTENT */
.home-content {
    margin: 10px;
    padding-bottom: 100px;
}

.song-card {
    display: flex;
    align-items: center;
    cursor: pointer;

    /* EFEK BUG WARNA BIRU */
    outline: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    touch-action: manipulation;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.card-title {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 10px;
}

.song-card h1 {
    color: white;
    font-size: 13px;
    width: 290px;
    white-space: nowrap;
    overflow: hidden;
}

.song-card p {
    color: #c2c2c2;
    font-size: 12px;
    margin-top: -5px;
}

.song-card img {
    width: 55px;
    height: auto;
    margin-top: 7px;
    margin-bottom: 7px;

    /* EFEK BUG WARNA BIRU */
    outline: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    touch-action: manipulation;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* HOME CONTENT */

/* MUSIC PLAYER UI */
.music-player-ui {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1e2d2f;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    z-index: 100;
    transform: translateY(100%);
    transition: transform 0.3s ease;
}

.music-player-ui.active {
    transform: translateY(0);
}

.music-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: -10px;
    margin-bottom: 15px;
}

.title-music-player {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.genre {
    font-size: 12px;
    font-weight: 700;
}

.album-cover-large {
    width: 100%;
    margin: 20px 0;
    border-radius: 10px;
}

.song-info-large {
    text-align: center;
    margin-top: -20px;
}

.song-info-large h2 {
    font-size: 14px;
    width: 290px;
    white-space: nowrap;
    overflow: hidden;
}

.song-info-large p {
    font-size: 13px;
    margin-top: -10px;
}

.progress-bar-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 10px 0;
}

.progress-bar-container span {
    font-size: 14px;
    width: 40px;
    text-align: center;
}

.progress-bar-container input[type="range"] {
    flex: 1;
    margin: 0 5px;
}

.controls-large {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    gap: 30px;

    /* EFEK BUG WARNA BIRU */
    outline: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    touch-action: manipulation;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.back-btn,
.more-options {
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: none;
    border: none;
    transition: transform 0.2s ease;
}

.control-btn-large:hover,
.back-btn:hover {
    filter: brightness(80%);
}

#playPauseLarge {
    width: 60px;
    height: 60px;
}

#shuffleLarge,
#nextLarge,
#prevLarge,
#repeatLarge {
    width: 25px;
    height: 25px;
    margin: auto 0;
}

/* MUSIC PLAYER UI */

/* MENU */
/* Gaya Navigasi Bawah */
.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(rgba(31, 31, 33, 0.473), rgb(31, 31, 33));
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 7px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
}

.bottom-nav a {
    text-decoration: none;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #b3b3b3;
    font-size: 10px;
    cursor: pointer;
    transition: color 0.3s ease;
    margin-top: 7px;
}

.active {
    color: white;
    filter: brightness(100%);
}

.nav-icon {
    width: 25px;
    height: 25px;
    margin-bottom: -5px;
    filter: brightness(50%);
}

/* Efek Aktif */
.nav-item.active {
    filter: brightness(3);
}

/* Menghilangkan efek highlight biru pada mobile browser */
* {
    -webkit-tap-highlight-color: transparent;
}

/* MENU */



@media screen and (min-width: 1280px) {}

@media screen and (min-width: 720px) {

    /* Music Player UI */
    .music-player-ui {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #1e2d2f;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        box-sizing: border-box;
        z-index: 100;
        transform: translateY(100%);
        transition: transform 0.3s ease;
    }

    .music-player-ui.active {
        transform: translateY(0);
    }

    .music-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 15px;
    }

    .title-music-player {
        font-size: 17px;
    }

    .genre {
        font-size: 17px;
        font-weight: 700;
    }

    .album-cover-large {
        width: 100%;
        max-width: 300px;
        margin: 20px 0;
        border-radius: 10px;
    }

    .song-info-large {
        text-align: center;
        margin-top: -20px;
    }

    .song-info-large h2 {
        font-size: 14px;
        width: max-content;
    }

    .song-info-large p {
        font-size: 13px;
        margin-top: -10px;
    }

    .progress-bar-container {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 10px 0;
    }

    .progress-bar-container span {
        font-size: 14px;
        width: 40px;
        text-align: center;
    }

    .progress-bar-container input[type="range"] {
        flex: 1;
        margin: 0 5px;
    }

    .controls-large {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 10px;
    }

    .control-btn-large,
    .back-btn,
    .more-options {
        width: 50px;
        height: 50px;
        cursor: pointer;
        background: none;
        border: none;
        color: white;
    }
}

@media screen and (width: 800px) {}

@media screen and (max-width: 810px) {}

@media screen and (width: 360px) {}

@media screen and (width: 320px) {}



/* MOBILE DEVICES */
@media (min-width: 320px) and (max-width: 375px) {

    /* Music Player UI */
    .music-player-ui {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #1e2d2f;
        color: white;
        display: flex;
        overflow-y: auto;
        align-items: center;
        padding: 20px;
        box-sizing: border-box;
        z-index: 100;
        transform: translateY(100%);
        transition: transform 0.3s ease;
    }

    .music-player-ui.active {
        transform: translateY(0);
    }

    .music-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: -7px;
        margin-bottom: 15px;
    }

    .title-music-player {
        font-size: 11px;
    }

    .genre {
        font-size: 11px;
        font-weight: 700;
    }

    .album-cover-large {
        width: 100%;
        margin: 20px 0;
        border-radius: 10px;
    }

    .song-info-large {
        text-align: center;
        margin-top: -20px;
    }

    .song-info-large h2 {
        font-size: 14px;
        width: 260px;
        white-space: nowrap;
        overflow: hidden;
    }

    .song-info-large p {
        font-size: 13px;
        margin-top: -10px;
    }

    .progress-bar-container {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 10px 0;
    }

    .progress-bar-container span {
        font-size: 14px;
        width: 40px;
        text-align: center;
    }

    .progress-bar-container input[type="range"] {
        flex: 1;
        margin: 0 5px;
    }

    .controls-large {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 10px;

        /* EFEK BUG WARNA BIRU */
        outline: none;
        -webkit-tap-highlight-color: transparent;
        user-select: none;
        touch-action: manipulation;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    .back-btn,
    .more-options {
        width: 30px;
        height: 30px;
        cursor: pointer;
        background: none;
        border: none;
        color: white;
    }
}

/* MOBILE DEVICES */
@media (min-width: 376px) and (max-width: 480px) {}

/* TABLET */
@media (min-width: 481px) and (max-width: 1025px) {}

/* DESKTOP SITE (MOBILE DEVICES) */
@media screen and (min-width: 768px) and (max-width: 1080px) {

    /* Music Player UI */
    .music-player-ui {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #1e2d2f;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        box-sizing: border-box;
        z-index: 100;
        transform: translateY(100%);
        transition: transform 0.3s ease;
    }

    .music-player-ui.active {
        transform: translateY(0);
    }

    .music-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 15px;
    }

    .title-music-player {
        font-size: 17px;
    }

    .genre {
        font-size: 17px;
        font-weight: 700;
    }

    .album-cover-large {
        width: 100%;
        max-width: 300px;
        margin: 20px 0;
        border-radius: 10px;
    }

    .song-info-large {
        text-align: center;
        margin-top: -20px;
    }

    .song-info-large h2 {
        font-size: 14px;
        width: max-content;
    }

    .song-info-large p {
        font-size: 13px;
        margin-top: -10px;
    }

    .progress-bar-container {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 10px 0;
    }

    .progress-bar-container span {
        font-size: 14px;
        width: 40px;
        text-align: center;
    }

    .progress-bar-container input[type="range"] {
        flex: 1;
        margin: 0 5px;
    }

    .controls-large {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 10px;
    }

    .control-btn-large,
    .back-btn,
    .more-options {
        width: 50px;
        height: 50px;
        cursor: pointer;
        background: none;
        border: none;
        color: white;
    }
}

/* LAPTOP */
@media (min-width: 769px) and (max-width: 1024px) {}

/* DESKTOP */
@media (min-width: 1025px) {}

/* DESKTOP 1920px */
@media (min-width: 1920px) {}

@media only screen and (max-width: 926px) and (orientation: landscape) {}

@media only screen and (min-width: 1024px) and (orientation: landscape) {}