@charset "utf-8";

/* CSS Document*/
body {
    background-color: #171a21;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    font-family: 'Roboto', Verdana, Arial, sans-serif;
}

/* THUMBNAIL GENRE */
.thumbnail-genre {
    position: relative;
    padding: 150px;
    display: flex;
    flex-direction: column;
}

.kembali-ke-masa-kecil {
    background: linear-gradient(rgba(31, 31, 33, 0.082), rgba(31, 31, 33, 0.886)), url('https://yzdmusic.github.io/cover-1/KEMBALI\ KE\ MASA\ KECIL\ \(COVER\).jpg');
    background-size: cover;
}

.asap-dan-angin {
    background: linear-gradient(rgba(31, 31, 33, 0.082), rgba(31, 31, 33, 0.886)), url('https://yzdmusic.github.io/cover-1/ASAP\ DAN\ ANGIN\ \(COVER\).jpg');
    background-size: cover;
}

.ngumbara-di-garut {
    background: linear-gradient(rgba(31, 31, 33, 0.082), rgba(31, 31, 33, 0.886)), url('https://yzdmusic.github.io/cover-1/NGUMBARA\ DI\ GARUT\ \(COVER\).jpg');
    background-size: cover;
}

.vrijheid-strijd {
    background: linear-gradient(rgba(31, 31, 33, 0.082), rgba(31, 31, 33, 0.886)), url('https://yzdmusic.github.io/cover-1/VRIJHEID\ STRIJD\ \(COVER\).jpg');
    background-size: cover;
}

.altijd-mijn-fout {
    background: linear-gradient(rgba(31, 31, 33, 0.082), rgba(31, 31, 33, 0.886)), url('https://yzdmusic.github.io/cover-1/ALTIJD\ MIJN\ FOUT\ \(COVER\).jpg');
    background-size: cover;
}

.keep-moving-forward {
    background: linear-gradient(rgba(31, 31, 33, 0.082), rgba(31, 31, 33, 0.886)), url('https://yzdmusic.github.io/cover-1/KEEP\ MOVING\ FORWARD\ \(COVER\).jpg');
    background-size: cover;
}

.thumbnail-genre h1 {
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    color: white;
    left: 10px;
    bottom: 20px;
}

.thumbnail-genre img {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 10px;
    top: 10px;

    /* EFEK BUG WARNA BIRU */
    outline: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    touch-action: manipulation;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.thumbnail-genre p {
    font-size: 15px;
    font-weight: normal;
    position: absolute;
    color: #c2c2c2;
    left: 10px;
    bottom: -3px;
}

/* THUMBNAIL GENRE */

/* HOME CONTENT */
.home-content {
    margin: 10px;
    padding-bottom: 30px;
}

.song-card {
    display: flex;
    align-items: center;
    cursor: pointer;

    /* EFEK BUG WARNA BIRU */
    outline: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    touch-action: manipulation;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.card-title {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.song-card h1 {
    color: white;
    font-size: 13px;
    width: 290px;
    white-space: nowrap;
    overflow: hidden;
}

.song-card p {
    color: #c2c2c2;
    font-size: 12px;
    margin-top: -5px;
}

.song-card img {
    width: 55px;
    height: auto;
    margin: 10px;
    margin-left: 5px;

    /* EFEK BUG WARNA BIRU */
    outline: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    touch-action: manipulation;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* HOME CONTENT */

/* MUSIC PLAYER UI */
.wrapper-music-player-ui {
    margin: 10px;
}

.music-player-ui {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1e2d2f;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    z-index: 100;
    transform: translateY(100%);
    transition: transform 0.3s ease;
}

.music-player-ui.active {
    transform: translateY(0);
}

.music-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}

.more-options {
    font-size: 24px;
}

.title-music-player {
    font-size: 11px;
    display: flex;
    justify-content: center;
}

.album-cover-large {
    width: 100%;
    margin: 20px 0;
    border-radius: 10px;
}

.song-info-large {
    text-align: center;
    margin-top: -20px;
}

.song-info-large h2 {
    font-size: 14px;
    width: 290px;
    white-space: nowrap;
    overflow: hidden;
}

.song-info-large p {
    font-size: 13px;
    margin-top: -10px;
}

.progress-bar-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 10px 0;
}

.progress-bar-container span {
    font-size: 14px;
    width: 40px;
    text-align: center;
}

.progress-bar-container input[type="range"] {
    flex: 1;
    margin: 0 5px;
}

.controls-large {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 0;
    gap: 30px;

    /* EFEK BUG WARNA BIRU */
    outline: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    touch-action: manipulation;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.control-btn-large,
.back-btn {
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: none;
    border: none;
    transition: transform 0.2s ease;
}

.control-btn-large:hover,
.back-btn:hover {
    transform: scale(1.1);
}

/* MUSIC PLAYER UI */



@media screen and (min-width: 1280px) {}

@media screen and (min-width: 720px) {

    /* Music Player UI */
    .wrapper-music-player-ui {
        margin: 10px;
    }

    .music-player-ui {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #1e2d2f;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        box-sizing: border-box;
        z-index: 100;
        transform: translateY(100%);
        transition: transform 0.3s ease;
    }

    .music-player-ui.active {
        transform: translateY(0);
    }

    .music-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 15px;
    }

    .more-options {
        font-size: 24px;
    }

    .title-music-player {
        font-size: 17px;
    }

    .album-cover-large {
        width: 100%;
        max-width: 300px;
        margin: 20px 0;
        border-radius: 10px;
    }

    .song-info-large {
        text-align: center;
        margin-top: -20px;
    }

    .song-info-large h2 {
        font-size: 14px;
        width: max-content;
    }

    .song-info-large p {
        font-size: 13px;
        margin-top: -10px;
    }

    .progress-bar-container {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 10px 0;
    }

    .progress-bar-container span {
        font-size: 14px;
        width: 40px;
        text-align: center;
    }

    .progress-bar-container input[type="range"] {
        flex: 1;
        margin: 0 5px;
    }

    .controls-large {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 10px;
    }

    .control-btn-large,
    .back-btn {
        width: 50px;
        height: 50px;
        cursor: pointer;
        background: none;
        border: none;
        color: white;
    }
}

@media screen and (width: 800px) {}

@media screen and (max-width: 810px) {}

@media screen and (width: 360px) {}

@media screen and (width: 320px) {}



/* MOBILE DEVICES */
@media (min-width: 320px) and (max-width: 375px) {

    /* Music Player UI */
    .wrapper-music-player-ui {
        margin: 10px;
    }

    .music-player-ui {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #1e2d2f;
        color: white;
        display: flex;
        overflow-y: auto;
        align-items: center;
        padding: 20px;
        box-sizing: border-box;
        z-index: 100;
        transform: translateY(100%);
        transition: transform 0.3s ease;
    }

    .music-player-ui.active {
        transform: translateY(0);
    }

    .music-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 15px;
    }

    .more-options {
        font-size: 24px;
    }

    .title-music-player {
        font-size: 10px;
    }

    .album-cover-large {
        width: 100%;
        margin: 20px 0;
        border-radius: 10px;
    }

    .song-info-large {
        text-align: center;
        margin-top: -20px;
    }

    .song-info-large h2 {
        font-size: 14px;
        width: 260px;
        white-space: nowrap;
        overflow: hidden;
    }

    .song-info-large p {
        font-size: 13px;
        margin-top: -10px;
    }

    .progress-bar-container {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 10px 0;
    }

    .progress-bar-container span {
        font-size: 14px;
        width: 40px;
        text-align: center;
    }

    .progress-bar-container input[type="range"] {
        flex: 1;
        margin: 0 5px;
    }

    .controls-large {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 10px;

        /* EFEK BUG WARNA BIRU */
        outline: none;
        -webkit-tap-highlight-color: transparent;
        user-select: none;
        touch-action: manipulation;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    .control-btn-large,
    .back-btn {
        width: 30px;
        height: 30px;
        cursor: pointer;
        background: none;
        border: none;
        color: white;
    }
}

/* MOBILE DEVICES */
@media (min-width: 376px) and (max-width: 480px) {}

/* TABLET */
@media (min-width: 481px) and (max-width: 1025px) {}

/* DESKTOP SITE (MOBILE DEVICES) */
@media screen and (min-width: 768px) and (max-width: 1080px) {

    /* Music Player UI */
    .wrapper-music-player-ui {
        margin: 10px;
    }

    .music-player-ui {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #1e2d2f;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        box-sizing: border-box;
        z-index: 100;
        transform: translateY(100%);
        transition: transform 0.3s ease;
    }

    .music-player-ui.active {
        transform: translateY(0);
    }

    .music-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 15px;
    }

    .more-options {
        font-size: 24px;
    }

    .title-music-player {
        font-size: 17px;
    }

    .album-cover-large {
        width: 100%;
        max-width: 300px;
        margin: 20px 0;
        border-radius: 10px;
    }

    .song-info-large {
        text-align: center;
        margin-top: -20px;
    }

    .song-info-large h2 {
        font-size: 14px;
        width: max-content;
    }

    .song-info-large p {
        font-size: 13px;
        margin-top: -10px;
    }

    .progress-bar-container {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 10px 0;
    }

    .progress-bar-container span {
        font-size: 14px;
        width: 40px;
        text-align: center;
    }

    .progress-bar-container input[type="range"] {
        flex: 1;
        margin: 0 5px;
    }

    .controls-large {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 10px;
    }

    .control-btn-large,
    .back-btn {
        width: 50px;
        height: 50px;
        cursor: pointer;
        background: none;
        border: none;
        color: white;
    }
}

/* LAPTOP */
@media (min-width: 769px) and (max-width: 1024px) {}

/* DESKTOP */
@media (min-width: 1025px) {

    /* HAMBURGER NAVBAR */
    .mobile-menu {
        font-size: 17px;
    }

    .menu-toggle {
        display: flex;
        flex-direction: column;
        width: 26px;
        cursor: pointer;
        padding: 5px;
        margin-top: -31px;
        margin-left: -7px;
    }

    .menu-content ul li {
        padding: 9px;
    }

    .submenu {
        font-size: 14px;
    }

    /* HAMBURGER NAVBAR */

    /* FOOTER */
    .logo-footer {
        width: 70px;
        height: auto;
    }

    .footer {
        font-size: 8px;
    }

    /* FOOTER */
}

/* DESKTOP 1920px */
@media (min-width: 1920px) {}

@media only screen and (max-width: 926px) and (orientation: landscape) {
    .menu-content {
        height: 100vh;
        overflow-y: scroll;
    }

    .mobile-menu {
        overflow-y: hidden;
    }

    .menu-toggle {
        position: relative;
        top: 0;
        margin-top: -37px;
        margin-left: -7px;
    }

    .footer {
        margin-top: 30px;
    }
}

@media only screen and (min-width: 1024px) and (orientation: landscape) {}